<div class="row">
  <div class="col-md-12 pad-10">
    <button type="submit" class="btn btn-primary" (click)="goToAddReserva()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Adicionar Reserva
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>IdReserva</th>
    <th>Cidade Origem</th>
    <th>Cidade Destino</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reserva of reservas$| async;">
    <td>{{reserva.idReserva}}</td>
    <td>{{reserva.cidOri}}</td>
    <td>{{reserva.cidDest}}</td>
    <td>
      <div>
        <button class="btn" (click)="deleteReserva(reserva.idReserva)">Remover</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
