<div class="row">
  <div class="col-md-12 pad-10">
    <button type="submit" class="btn btn-primary" (click)="goToAddPessoa()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Adicionar Pessoa
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>CPF</th>
    <th>Nome</th>
    <th>Ação</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pessoa of pessoas$| async;">
    <td>{{ pessoa.cpf }}</td>
    <td>{{ pessoa.nome }}</td>
    <td>
      <div>
        <button class="btn" (click)="deletePessoa(pessoa.cpf)">Remover</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
